{
  "globals": {
    "describe": false,
    "it"      : false,
    "before"  : false,
    "after"   : false,
    "beforeEach": true,
    "afterEach" : false
  },
  "rules": {
    "no-console": 0
  }
}
