node_modules
.idea
npm-debug.log
examples/cacert*
docs
wallaby.json
lib/binding
debug
.vscode/
test/curl/upload.png

# coverage
.nyc_output/
coverage/

# build
dist
build

# Ts
tsconfig.tsbuildinfo

yarn-error.log
