node_modules
.DS_Store
.idea
npm-debug.log
examples/cacert*
wallaby.json
lib/binding

# docs override
lib/**/*.doc.ts


debug
.vscode/
test/curl/upload.png

# coverage
.nyc_output/
coverage/

# build
dist
build

# Ts
tsconfig.tsbuildinfo

# @TODO Remove when get api-documenter to work
docs/
website/
api/

yarn-error.log
