node_modules
.DS_Store
.idea
npm-debug.log
examples/cacert*
wallaby.json
lib/binding

# docs override
lib/**/*.doc.ts

# electron rebuild
bin/

logs/

.claude/settings.local.json

debug/
Debug/
release/
Release/
.vscode/
test/curl/upload.png

# coverage
.nyc_output/
coverage/

# build
dist
build

# Ts
tsconfig.tsbuildinfo

# @TODO Remove when get api-documenter to work
website/
api/

yarn-error.log

.cache
compile_commands.json

*.hidden.*
docs/

# vcpkg
/deps/vcpkg/
/vcpkg_installed/

# ignore main vcpkg config, as we use a template file
vcpkg.json
# Keep other vcpkg config
!/vcpkg-configuration.json
!/overlays/
