os:
  - linux
  - osx
# macos version - this is the current
osx_image: xcode9.4
# linux dist
dist: trusty
language: node_js
node_js:
  - '13'
  - '12'
  - '10'
  - '8'
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      # Those are the defaults for trusty release on TravisCI
      - gcc-4.8
      - g++-4.8
matrix:
  fast_finish: true
  # allow_failures:
  #   - node_js: "11"
  include:
    - os: osx
      env: LIBCURL_RELEASE=7.64.1 LATEST_LIBCURL_RELEASE=7.64.1 ELECTRON_VERSION=7.1.2
    - os: osx
      env: LIBCURL_RELEASE=7.64.1 LATEST_LIBCURL_RELEASE=7.64.1 ELECTRON_VERSION=6.0.7
    - os: osx
      env: LIBCURL_RELEASE=7.64.1 LATEST_LIBCURL_RELEASE=7.64.1 ELECTRON_VERSION=5.0.1
    - os: osx
      env: LIBCURL_RELEASE=7.64.1 LATEST_LIBCURL_RELEASE=7.64.1 ELECTRON_VERSION=4.2.0
    - os: osx
      env: LIBCURL_RELEASE=7.64.1 LATEST_LIBCURL_RELEASE=7.64.1 ELECTRON_VERSION=3.1.9
    - os: osx
      env: LIBCURL_RELEASE=7.64.1 LATEST_LIBCURL_RELEASE=7.64.1 NWJS_VERSION=0.38.2
    - os: osx
      env: LIBCURL_RELEASE=7.64.1 LATEST_LIBCURL_RELEASE=7.64.1 NWJS_VERSION=0.37.4
env:
  global:
    - GCC_VERSION=4.8
    - secure: d64E8XbVGHuQ0kls1oVUF1y6pnj3iqZB34roKBHAFTyWBXReC1FWLb+qEShCJicUDkeK2At7vQUz7ohMn2mL/hVXiRbuSaYuDKFx8iDeei9mTgE+iy258mSovnNvXfG72EP5+LB+UOhgmTGe0qyTALOQ6ceCgjdscul3IGWE8lw=
  matrix:
    - LIBCURL_RELEASE=7.64.1 LATEST_LIBCURL_RELEASE=7.64.1
    - LIBCURL_RELEASE=7.50.0

cache:
  directories:
    - $HOME/.node-gyp
    - $HOME/.nw-gyp
    - $HOME/.npm
    - $HOME/.cache/electron
    - $HOME/.cache/yarn
    - $HOME/deps
    # macOS Electron cache
    - $HOME/Library/Caches/electron

git:
  depth: 10
  submodules: false

before_install:
  # Use latest yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.15.2
  - export PATH=$HOME/.yarn/bin:$PATH
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then
    export CC="gcc-${GCC_VERSION}";
    export CXX="g++-${GCC_VERSION}";
    export LINK="gcc-${GCC_VERSION}";
    export LINKXX="g++-${GCC_VERSION}";
    fi
  - export PATH=$HOME/bin:$PATH
  - yarn --version
  - node --version
install:
  - GIT_TAG=$TRAVIS_TAG GIT_COMMIT=$TRAVIS_COMMIT ./scripts/ci/build.sh
script: true
