name: build-lint-test

defaults:
  run:
    shell: bash

on:
  pull_request:

env:
  LATEST_LIBCURL_RELEASE: 8.17.0
  OLDEST_LIBCURL_RELEASE: 7.77.0
  NODE_LIBCURL_CPP_STD: c++20
  # https://www.electronjs.org/docs/latest/tutorial/installation#cache
  electron_config_cache: ~/.cache/electron

concurrency:
  group: build-lint-test-${{ github.head_ref }}
  cancel-in-progress: true

# all jobs here must have a matrix identical to the ones inside build-and-release.yaml

jobs:
  set-params:
    runs-on: ubuntu-22.04
    outputs:
      latest-libcurl-release: ${{ env.LATEST_LIBCURL_RELEASE }}
      oldest-libcurl-release: ${{ env.OLDEST_LIBCURL_RELEASE }}
    steps:
      - run: exit 0

  lint-and-tsc:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # Node.js / PNPM
      - uses: pnpm/action-setup@v4
      - name: Set up Node ${{ matrix.node }}
        uses: actions/setup-node@v5
        with:
          node-version: '${{ matrix.node }}'
          cache: 'pnpm'
          package-manager-cache: 'pnpm'

      - name: Install node dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Run lint
        run: pnpm lint
      - name: Run tsc
        run: pnpm build:dist

  build-and-test:
    runs-on: ${{ matrix.os }}
    needs: set-params
    strategy:
      fail-fast: false
      matrix:
        electron-version:
          - ''
        os:
          - macos-15
          - ubuntu-22.04
        libcurl-release:
          - ${{ needs.set-params.outputs.latest-libcurl-release }}
        node:
          - 24
          # TODO(jonathan, migration): add Node v22
        include:
          # we only want to record coverage in one of the jobs, in this case, the one for the latest stable Node.js version
          - os: ubuntu-22.04
            libcurl-release: ${{ needs.set-params.outputs.latest-libcurl-release }}
            node: 24
            record-coverage: true
          # we also want to build a job for old libcurl versions
          - os: ubuntu-22.04
            libcurl-release: ${{ needs.set-params.outputs.oldest-libcurl-release }}
            node: 24
          # electron builds, only latest version is tested
          - os: ubuntu-22.04
            libcurl-release: ${{ needs.set-params.outputs.latest-libcurl-release }}
            node: 24
            electron-version: 38.1.2
    env:
      LIBCURL_RELEASE: ${{ matrix.libcurl-release }}
      LATEST_LIBCURL_RELEASE: ${{ matrix.libcurl-release }}
      ELECTRON_VERSION: ${{ matrix.electron-version }}
    steps:
      - if: runner.os == 'macOS'
        name: Install Needed packages on macOS
        run: brew install coreutils wget automake libtool cmake gnu-sed m4

      - if: runner.os == 'Linux'
        name: Install Needed packages on Linux
        run: sudo apt-get install -y cmake

      - name: Checkout
        uses: actions/checkout@v5
      # see https://github.com/nodejs/node/issues/40537
      - name: Enforce IPv4 Connectivity
        uses: ./.github/actions/force-ipv4

        # PNPM / Node.js
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
      - name: Set up Node ${{ matrix.node }}
        uses: actions/setup-node@v5
        with:
          node-version: '${{ matrix.node }}'
          cache: 'pnpm'
          package-manager-cache: 'pnpm'

      - name: Restore libcurl deps cache
        uses: actions/cache@v4
        id: libcurl-deps-cache
        with:
          path: |
            ~/.node-gyp
            ~/deps
          key: v4-${{ runner.os }}-libcurl-${{ matrix.libcurl-release }}-deps-cache-${{ matrix.electron-version && 'electron' || 'node' }}-${{ matrix.electron-version || matrix.node }}
          restore-keys: |
            v4-${{ runner.os }}-libcurl-${{ matrix.libcurl-release }}-deps-cache-${{ matrix.electron-version && 'electron' || 'node' }}-${{ matrix.electron-version || matrix.node }}

      - name: Restore Electron Cache
        uses: actions/cache@v4
        if: matrix.electron-version
        with:
          path: ${{ env.electron_config_cache }}
          key: v1-${{ runner.os }}-electron-cache-${{ matrix.electron-version }}
          restore-keys: |
            v1-${{ runner.os }}-electron-cache-${{ matrix.electron-version }}
            v1-${{ runner.os }}-electron-cache-

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: matrix.enable-debugging

      - name: 'Build node-libcurl'
        run: |
          RUN_TESTS=false \
          RUN_PREGYP_CLEAN=false \
          PUBLISH_BINARY=false \
            ./scripts/ci/build.sh

      - name: 'Run tests'
        # no way to run vitest tests using electron's main process, so no point doing this here
        if: matrix.electron-version == ''
        run: pnpm test:coverage

      - name: Upload coverage to Codecov
        if: matrix.record-coverage && matrix.electron-version != ''
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/**
          fail_ci_if_error: false
      
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-logs-${{ matrix.os }}-${{ matrix.libcurl-release }}-${{ matrix.electron-version && 'electron' || 'node' }}-${{ matrix.electron-version || matrix.node }}
          path: ./logs/
          retention-days: 3
